img.profile{
    width: 15%;
    border-radius: 50%;
    margin-bottom: 1em; 
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url("refs/background-image.jpg");
}


footer {
    position: fixed;
    bottom: 0;    
}

h3{
    text-decoration: underline;
    margin-bottom: 0em;
}

p {
    font-size: large;
    margin-top: 0em;
    margin-bottom: 0.2em;    
}

form {
    margin-top: 0em;
}

li {
    font-size: larger;
}

div.main{
    text-align: center;
}

div.professional-history{
    margin-top: 2em;
    padding-top: 0.1em;
    padding-bottom: 1em;    
    background-color: rgb(199, 253, 237);
}

a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: blue;
    text-decoration:none;
}

div.row:after{
    content: "";
    display: table;
    clear: both;
}

div.column {
    float: left;
    width: 25%;
}

div.side-bar-left{
    width: 18%;
    height: 90%;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: rgb(244, 201, 255);
    overflow-x: hidden;
    padding: 8px 0;
    padding-left: 1%;
    padding-right: 1%;
    border: solid;
    border-color: #333;
    border-width: 5px;
}

div.skills-to-offer{
    border-top: 4px dotted black;
    margin-top: 2em;
}

input[type=submit] {
    padding:5px 15px;    
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: medium;
    color: white; 
    background: black;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}